body {
  font-family: "Raleway", sans-serif;
  font-size: 5vh;
  color: blue;
  max-width: 100%;
  min-width: 320px;
}

section {
  padding-top: 4%;
}

.container {
  min-width: 320px;
}

img {
  display: block;
  width: 100%;
}

.title {
  color: black;
  font-weight: normal;
  text-transform: uppercase;
}

.paragraf {
  font-size: 4vh;
  font-weight: 700;
  color: black;
}

.paragraf span {
  color: #2DB6BB;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
  ========================================
  HERO
  ========================================
*/

.hero {
  background: black;
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.hero__wrap img {
  height: 16vh;
}

.hero__wrap .logo {
  height: 30vh;
  margin-left: 50px;
}

.hero__text {
  font-size: 40px;
  color: #fff;
}

/*
  ========================================
  PROBLEMS
  ========================================
*/

.problems {
  height: 100vh;
  position: relative;
  border: 5px solid red;
  background: -webkit-gradient(linear, left top, right top, from(#EAE6E5), color-stop(43%, #EAE6E5), color-stop(43%, #fff), to(#fff));
  background: -o-linear-gradient(left, #EAE6E5 0%, #EAE6E5 43%, #fff 43%, #fff 100%);
  background: linear-gradient(90deg, #EAE6E5 0%, #EAE6E5 43%, #fff 43%, #fff 100%);
}

.problems__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.problems .container.problems__wrap.col-md-12,
.problems .container.problems__wrap.col-md-12 .col-md-4 {
  position: static !important;
}

.problems .title {
  margin-bottom: 10vh;
}

.problems__bg {
  height: 50vh;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.circle__1,
.circle__2,
.circle__3,
.circle__4,
.circle__5,
.circle__6 {
  position: absolute;
  border-radius: 50%;
  background: #2DB6BB;
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  z-index: 1;
}

.circle__2 {
  left: 150px;
  top: 120px;
}

.circle__3 {
  left: 40px;
  top: 270px;
  height: 120px;
  width: 120px;
}

.circle__4 {
  left: -30px;
  top: 390px;
  height: 100px;
  width: 100px;
}

.circle__5 {
  top: 490px;
  left: 50px;
  height: 80px;
  width: 80px;
}

.circle__6 {
  top: 560px;
  left: 130px;
  height: 60px;
  width: 60px;
  background: #D4D838;
  color: #fff;
}

.line-top {
  position: absolute;
  top: 132px;
  left: 130px;
  border-bottom: 4px dotted #2DB6BB;
  width: 85px;
  height: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line-middle {
  position: absolute;
  top: 350px;
  left: -35px;
  border-bottom: 4px dotted #2DB6BB;
  width: 260px;
  height: 0px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.line-bottom {
  position: absolute;
  top: 510px;
  left: -17px;
  border-bottom: 4px dotted #2DB6BB;
  width: 200px;
  height: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 900px) {
  .hero__wrap img {
    height: calc(24px + 10.4166666667vw);
  }

  .hero__wrap .logo {
    height: calc(34px + 15.625vw);
    margin-left: calc(15px + 1.8229166667vw);
  }

  .hero__text {
    font-size: calc(15px + 1.9791666667vw);
  }
}