body {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #000;
  max-width: 100%;
  min-width: 320px;
}

section {
  min-height: 100vh;
}

.container {
  min-width: 320px;
}

.row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

img {
  display: block;
  width: 100%;
}

.sections-titles {
  color: #000;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 45px;
  line-height: 3.5rem;
}

.sections-slogans {
  font-size: 23px;
  font-weight: 700;
  color: #000;
  padding-bottom: 50px;
}

.sections-slogans span {
  color: #2DB6BB;
}

.pile {
  color: #fff;
}

.sections-desc {
  font-size: calc(12px + 0.6770833333vw);
}

.sections-desc p {
  margin-bottom: 40px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shadow {
  -webkit-box-shadow: 8px 6px 23px -9px rgba(0, 0, 0, 0.53);
          box-shadow: 8px 6px 23px -9px rgba(0, 0, 0, 0.53);
}

.grey-left {
  background: -webkit-gradient(linear, left top, right top, from(#EAE6E5), color-stop(50%, #EAE6E5), color-stop(50%, #fff), to(#fff));
  background: -o-linear-gradient(left, #EAE6E5 0%, #EAE6E5 50%, #fff 50%, #fff 100%);
  background: linear-gradient(90deg, #EAE6E5 0%, #EAE6E5 50%, #fff 50%, #fff 100%);
  padding-right: 0;
  padding-left: 0;
}

.grey-right {
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #EAE6E5), to(#EAE6E5));
  background: -o-linear-gradient(left, #fff 0%, #fff 50%, #EAE6E5 50%, #EAE6E5 100%);
  background: linear-gradient(90deg, #fff 0%, #fff 50%, #EAE6E5 50%, #EAE6E5 100%);
  padding-right: 0;
  padding-left: 0;
}

.grey-bg,
[class*=col-].grey-bg {
  background: #EAE6E5;
  min-height: 100vh;
}

.link {
  background: #D4D838;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: calc(8px + 0.5208333333vw);
}

/*
  ========================================
  HEADER
  ========================================
*/

header {
  background: #000;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.menu nav.flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.menu nav.flex img {
  height: 13px;
  padding-left: 10px;
}

.menu nav.flex img.logo {
  height: 20px;
  -webkit-animation: rotation 2s ease-in-out 5s infinite;
          animation: rotation 2s ease-in-out 5s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.99, -0.33, 0, 1.32);
          animation-timing-function: cubic-bezier(0.99, -0.33, 0, 1.32);
}

.menu nav.flex .menu__list {
  font-size: calc(11px + 0.2604166667vw);
}

.menu nav.flex .menu__list li {
  color: #fff;
  line-height: 30px;
  padding: 0 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 2s ease-out;
  -o-transition: 2s ease-out;
  transition: 2s ease-out;
}

.menu nav.flex .menu__list li:hover {
  background: #fff;
  cursor: pointer;
}

.menu nav.flex .menu__list li:hover a {
  color: #000;
}

.menu nav.flex .menu__list li a {
  color: #fff;
}

.mobile {
  width: 100%;
}

.mobile span {
  margin: 0 auto;
  position: relative;
  top: 7px;
}

.mobile span:before,
.mobile span:after {
  position: absolute;
  content: "";
}

.mobile span,
.mobile span:before,
.mobile span:after {
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
}

.mobile span:before {
  margin-top: -5px;
}

.mobile span:after {
  margin-top: 5px;
}

.mobile .button {
  display: none;
  position: absolute;
  top: 7px;
  right: 10px;
}

.mobile .button span {
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.mobile .button span:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, -webkit-transform;
  -o-transition-property: margin, transform;
  transition-property: margin, transform;
  transition-property: margin, transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
       -o-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
}

.mobile .button span:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, -webkit-transform;
  -o-transition-property: margin, transform;
  transition-property: margin, transform;
  transition-property: margin, transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
       -o-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
}

.mobile .button.active span {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.mobile .button.active span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
       -o-transition-delay: 0s, 0.2s;
          transition-delay: 0s, 0.2s;
}

.mobile .button.active span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
       -o-transition-delay: 0s, 0.2s;
          transition-delay: 0s, 0.2s;
}

.mobile .mobile__list {
  width: 100%;
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  background: #000;
  height: 100vh;
  margin: 0 auto;
}

.mobile .mobile__list.active {
  display: block;
}

.mobile .mobile__list.active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile .mobile__list.active ul li {
  line-height: 40px;
}

.mobile .mobile__list.active ul li a {
  color: #fff;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }

  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }

  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

/*
  ========================================
  COUROUSEL
  ========================================
*/

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel .carousel__wrap {
  position: relative;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.carousel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.2;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}

.carousel a:hover {
  opacity: 1;
}

.carousel a img,
.carousel a span {
  width: 140px;
}

.carousel .next,
.carousel .prev {
  position: absolute;
  top: 50%;
  z-index: 2;
  background: #000;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.carousel .next {
  right: 10px;
}

.carousel .prev {
  left: 10px;
}

/*
  ========================================
  HERO
  ========================================
*/

.hero {
  background: #000;
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.hero__wrap img {
  height: calc(50px + 7.2916666667vw);
  position: relative;
}

.hero__wrap .logo {
  height: calc(140px + 10.4166666667vw);
  margin-left: 50px;
}

.hero__text {
  font-size: 40px;
  color: #fff;
}

/*
  ========================================
  PROBLEMS
  ========================================
*/

.problems .sections-titles {
  margin-bottom: 25%;
}

.problems__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.problems .container.problems__wrap.col-md-12,
.problems .container.problems__wrap.col-md-12 .col-md-4 {
  position: static !important;
}

.problems__bg {
  height: 50vh;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.circles {
  min-height: 100vh;
  height: 100%;
}

.circles__block-1,
.circles__block-2,
.circles__block-3,
.circles__block-4,
.circles__block-5,
.circles__block-6 {
  position: absolute;
  height: 150px;
  top: 50px;
  left: 50px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circles__block-2 {
  left: 150px;
  top: 150px;
}

.circles__block-3 {
  left: 70px;
  top: 250px;
}

.circles__block-4 {
  left: 20px;
  top: 340px;
}

.circles__block-5 {
  top: 430px;
  left: 90px;
}

.circles__block-6 {
  height: 180px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 550px;
  left: 160px;
}

.circles__block-6 .text p:first-child {
  font-weight: 700;
  margin-bottom: 10px;
}

.circles__block-6 .text p:first-child span {
  color: #2DB6BB;
}

.circles__block-6 .text p:last-child {
  font-size: 18px;
}

.circle__1,
.circle__2,
.circle__3,
.circle__4,
.circle__5,
.circle__6 {
  border-radius: 50%;
  background: #2DB6BB;
  min-height: 120px;
  min-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  margin-right: 20px;
  z-index: 2;
}

.circle__3 {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
}

.circle__4 {
  min-height: 80px;
  max-height: 80px;
  max-width: 80px;
  min-width: 80px;
}

.circle__5 {
  min-height: 75px;
  max-height: 75px;
  max-width: 75px;
  min-width: 75px;
}

.circle__6 {
  min-height: 55px;
  max-height: 55px;
  max-width: 55px;
  min-width: 55px;
  background: #D4D838;
  color: #fff;
}

.line-top {
  position: absolute;
  top: 150px;
  left: 100px;
  border-bottom: 3px dotted #2DB6BB;
  width: 85px;
  height: 0px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.line-middle {
  position: absolute;
  top: 320px;
  left: 10px;
  border-bottom: 3px dotted #2DB6BB;
  width: 260px;
  height: 0px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.line-bottom {
  position: absolute;
  top: 500px;
  left: 10px;
  border-bottom: 3px dotted #2DB6BB;
  width: 230px;
  height: 0px;
  -webkit-transform: rotate(47deg);
      -ms-transform: rotate(47deg);
          transform: rotate(47deg);
}

/*
  ========================================
  PROPOSITION
  ========================================
*/

.proposition {
  overflow: hidden;
}

.proposition .flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.proposition .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.proposition .proposition__list p {
  margin-bottom: 25px;
}

.proposition .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-bottom: 50px;
}

.proposition .proposition__table {
  width: 90%;
  background: #fff;
  -webkit-box-shadow: 6px 4px 22px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 4px 22px -2px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  margin-top: 4%;
}

.proposition .proposition__table .title {
  background: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 44px;
}

.proposition .proposition__table .parametrs__indicators {
  width: 55%;
}

.proposition .proposition__table .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.proposition .proposition__table .content > div {
  padding: 1% 2%;
}

.proposition .proposition__table .content > div:first-child {
  border-right: 1px dotted #000;
  width: 22%;
}

.proposition .proposition__table .content .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proposition .proposition__table .content .task.gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(12, 83, 149)), to(rgb(45, 182, 188)));
  background: -o-linear-gradient(bottom, rgb(12, 83, 149) 0%, rgb(45, 182, 188) 100%);
  background: linear-gradient(0deg, rgb(12, 83, 149) 0%, rgb(45, 182, 188) 100%);
  margin: 55px 0 20px;
  padding: 0;
}

.proposition .proposition__table .content .task.gradient div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 0;
}

.proposition .proposition__table .content .task.gradient div:first-child {
  height: 40px;
}

.proposition .proposition__table .content .task.gradient div:nth-child(2) {
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #fff;
  height: 37px;
}

.proposition .proposition__table .content .task.gradient div p {
  background: transparent;
  font-size: 11px;
  font-weight: 600;
}

.proposition .proposition__table .content .task.gradient div img {
  position: sticky;
  left: auto;
  bottom: auto;
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
}

.proposition .proposition__table .content .task .task__title {
  font-size: 11px;
}

.proposition .proposition__table .content .task > p {
  height: 25px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.proposition .proposition__table .content .task div {
  position: relative;
  margin-bottom: 12px;
}

.proposition .proposition__table .content .task div img {
  width: 25px;
  position: absolute;
  bottom: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.proposition .proposition__table .content .task div img.middle {
  left: 60%;
}

.proposition .proposition__table .content .task div p {
  background: #D4D838;
  border-radius: 50%;
  max-width: 42px;
  max-height: 42px;
  min-width: 42px;
  min-height: 42px;
  font-size: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 7px;
  padding-right: 7px;
}

.proposition .proposition__table .content .parametrs {
  width: 78%;
  padding: 10px 0 10px 5px;
  font-size: 12px;
  position: relative;
}

.proposition .proposition__table .content .parametrs .line {
  position: absolute;
  top: 0;
  right: 57%;
  height: 100%;
  width: 1px;
  border-left: 1px dotted #000;
}

.proposition .proposition__table .content .parametrs > p {
  margin-bottom: 20px;
  font-weight: 700;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.proposition .proposition__table .content .parametrs .parametrs__title {
  width: 45%;
  display: inline-block;
}

.proposition .proposition__table .content .parametrs li {
  line-height: 20px;
}

.proposition .proposition__table .content .parametrs li .progressbar {
  height: 20px;
  width: 70%;
  position: relative;
}

.proposition .proposition__table .content .parametrs li .progressbar img {
  display: inline;
}

.proposition .proposition__table .content .parametrs li .progressbar__bg {
  height: 7px;
  width: 100%;
  background: #EAE6E5;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.proposition .proposition__table .content .parametrs li .progressbar__border {
  position: absolute;
  height: 9px;
  width: 95%;
  border-right: 2px solid #000;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.proposition .proposition__table .content .parametrs li .progressbar__border.third {
  width: 75%;
}

.proposition .proposition__table .content .parametrs li .progressbar__border.half {
  width: 50%;
}

.proposition .proposition__table .content .parametrs li .progressbar__border.blue.half {
  width: 50%;
  left: 0;
  border-left: 0 solid transparent;
}

.proposition .proposition__table .content .parametrs li .progressbar__border.blue {
  left: 45%;
  width: 40%;
  border-left: 2px solid #000;
}

.proposition .proposition__table .content .parametrs li .progressbar__border.blue .progressbar__scale {
  background: #0a589a;
}

.proposition .proposition__table .content .parametrs li .progressbar__scale {
  background: #2DB6BB;
  width: 100%;
  height: 9px;
  position: absolute;
}

.proposition .proposition__table .content .parametrs li .units {
  width: 30%;
  display: inline-block;
  margin-left: 3%;
}

.proposition__bg {
  border-radius: 50%;
  background: #2DB6BB;
  opacity: 0.3;
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: -200px;
  left: -120px;
}

.table__content.gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(12, 83, 149)), to(rgb(45, 182, 188)));
  background: -o-linear-gradient(bottom, rgb(12, 83, 149) 0%, rgb(45, 182, 188) 100%);
  background: linear-gradient(0deg, rgb(12, 83, 149) 0%, rgb(45, 182, 188) 100%);
}

/*
  ========================================
  VALUE
  ========================================
*/

.value {
  min-height: 100vh;
  height: 100%;
}

.value .container {
  position: relative;
  height: 100%;
}

.value .arrow {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 90%;
  height: 40px;
  top: 103px;
}

.value .arrow.flip {
  width: 40px;
  height: 85%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.value .arrow.flip .arrow__line {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(10%, #fff), to(#D4D838));
  background: -o-linear-gradient(top, #fff 0%, #fff 10%, #D4D838 100%);
  background: linear-gradient(180deg, #fff 0%, #fff 10%, #D4D838 100%);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.value .arrow.flip .arrow__triagle {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.value .arrow__line {
  display: block;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(10%, #fff), to(#D4D838));
  background: -o-linear-gradient(left, #fff 0%, #fff 10%, #D4D838 100%);
  background: linear-gradient(90deg, #fff 0%, #fff 10%, #D4D838 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.value .arrow__triagle {
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 41px solid #d4d839;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.scenario__wrap {
  height: 95%;
  margin-top: 80px;
  margin-left: 50px;
}

.scenario__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50%;
  width: 92%;
}

.scenario__tables {
  border-radius: 3px;
  -webkit-box-shadow: 6px 4px 22px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 4px 22px -2px rgba(0, 0, 0, 0.75);
  background: #fff;
  width: 48%;
  height: 90%;
  margin-bottom: 20px;
}

.scenario__title {
  border-bottom: 3px dotted #EAE6E5;
  padding: 20px 20px 0;
}

.scenario__title p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  height: 55px;
}

.scenario__title p:first-child {
  color: #2DB6BB;
  font-size: 22px;
  font-weight: 600;
  height: auto;
}

.scenario__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 2px 20px;
}

.scenario__params.first {
  margin-top: 10px;
}

.scenario__params:last-child {
  margin-bottom: 10px;
  height: 55px;
}

.scenario__params .scenario__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scenario__params .background {
  margin-right: 10px !important;
  min-width: 40px;
  min-height: 40px;
  margin: 0;
  background: #2DB6BB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scenario__params .background.gradient {
  background: -webkit-gradient(linear, left top, right top, from(#2DB6BB), to(#0a589a));
  background: -o-linear-gradient(left, #2DB6BB, #0a589a);
  background: linear-gradient(to right, #2DB6BB, #0a589a);
}

.scenario__params .background.gradient img {
  min-width: 35px;
  background: #fff;
  padding: 5px;
}

.scenario__params .background.blue {
  background: #0a589a;
}

.scenario__params .background.blue-border {
  background: #fff;
  border: 3px solid #0D83CC;
}

.scenario__params .background.sky-border {
  background: #fff;
  border: 3px solid #2DB6BB;
}

.scenario__params img {
  width: 30px;
}

.scenario__params .mark {
  margin-right: 10px !important;
  color: #fff;
  background: #D4D838;
  margin: 0;
  font-size: 45px;
  border-radius: 50%;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scenario__params .mark.empty {
  background: transparent;
  border: 3px solid #D4D838;
}

.scenario__params .desc {
  margin: 0;
}

/*
  ========================================
  WHAT
  ========================================
*/

.sections-titles {
  margin-bottom: 20px;
}

.what.grey-left {
  background: -webkit-gradient(linear, left top, right top, from(#EAE6E5), color-stop(50%, #EAE6E5), color-stop(50%, #fff), to(#fff)) !important;
  background: -o-linear-gradient(left, #EAE6E5 0%, #EAE6E5 50%, #fff 50%, #fff 100%) !important;
  background: linear-gradient(90deg, #EAE6E5 0%, #EAE6E5 50%, #fff 50%, #fff 100%) !important;
}

.what .row {
  margin-left: 0;
  margin-right: 0;
}

.what .right {
  padding-left: 50px;
  padding-right: 0;
}

.what .what__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: calc(8px + 0.625vw);
}

.what .what__text img {
  background: #2DB6BB;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.what .what__text img.blue {
  background: #0D83CC;
}

.what .what__text img.gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#2DB6BB), to(#0a589a));
  background: -o-linear-gradient(top, #2DB6BB, #0a589a);
  background: linear-gradient(to bottom, #2DB6BB, #0a589a);
  padding: 5px;
}

.what .what__icons {
  position: absolute;
  left: 100%;
  top: 25px;
}

.what .what__icons .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.what .what__icons .circle {
  color: #fff;
  background: #D4D838;
  font-size: 45px;
  border-radius: 50%;
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what .what__icons img {
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  background: transparent;
  padding: 0;
}

.what .line {
  border-bottom: 3px dotted #000;
  padding: 5px 0;
}

/*
  ========================================
  VALIDATION
  ========================================
*/

.validation.grey-left {
  background: -webkit-gradient(linear, left top, right top, from(#021526), color-stop(50%, #021526), color-stop(50%, #fff), to(#fff));
  background: -o-linear-gradient(left, #021526 0%, #021526 50%, #fff 50%, #fff 100%);
  background: linear-gradient(90deg, #021526 0%, #021526 50%, #fff 50%, #fff 100%);
  color: #EAE6E5;
  overflow: hidden;
}

.validation.grey-left img.mobile {
  display: none;
}

.validation.grey-left .sections-titles {
  color: #EAE6E5;
}

.validation.grey-left .grey-bg,
.validation.grey-left [class*=col-].grey-bg {
  background: #021526;
}

.validation.grey-left .col-xl-5.col-lg-12.grey-bg {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.validation.grey-left .col-xl-5.col-lg-12.grey-bg .proposition__bg {
  position: absolute;
}

.validation.grey-left .validation__sections {
  margin-bottom: 20px;
  padding-top: 45px;
}

.validation.grey-left .validation__sections img {
  height: 50px;
}

.validation.grey-left .validation__sections p {
  color: #000;
  font-size: calc(10px + 0.78125vw);
  margin-bottom: 10px;
}

.validation.grey-left .validation__sections p span {
  font-weight: 600;
}

.validation.grey-left .validation__partners {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 60px 0;
}

.validation.grey-left .validation__partners img {
  height: 80px;
  width: auto;
}

.validation.grey-left .validation__partners p {
  color: #0a589a;
  font-size: calc(8px + 0.4166666667vw);
  padding: 0;
  margin: 0;
}

/*
  ========================================
  STUDY
  ========================================
*/

.table-wrap {
  margin-top: 50px;
  margin-bottom: 10%;
}

.study .metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.study .study__graf {
  height: 30px;
  width: 30px;
  display: inline-block;
  background: #0a589a;
  margin-right: 10px;
}

.study .study__graf.study__graf-45 {
  width: 15%;
}

.study .study__graf.study__graf-90 {
  width: 25%;
}

.study .study__graf.study__graf-sky {
  background: #2DB6BB;
  width: 50%;
}

.study .study__graf.study__graf-sky.study__graf-250 {
  width: 60%;
}

.study .study__text {
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
}

.study .units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  padding: 5px;
}

table th,
table td {
  padding: 10px;
  font-size: calc(12px + 0.6770833333vw);
}

table th {
  font-size: calc(12px + 0.6770833333vw);
  font-weight: 600;
  text-align: left;
}

.study__remark {
  font-size: calc(8px + 0.5208333333vw);
  margin-bottom: 50px;
}

.study__remark p {
  margin-bottom: 30px;
}

/*
  ========================================
  TEAM
  ========================================
*/

.team {
  background: -o-linear-gradient(top, #fff 0%, #fff 265px, #EAE6E5 265px, #EAE6E5 100%);
  background: linear-gradient(180deg, #fff 0%, #fff 265px, #EAE6E5 265px, #EAE6E5 100%);
  height: 100%;
}

.team [class*=col-] {
  height: 100%;
}

.team .team__portrait {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .team__portrait img {
  height: 150px;
  width: 150px;
  background: #2DB6BB;
  border-radius: 50%;
}

.team .team__desc {
  height: 50%;
  font-size: calc(12px + 0.6770833333vw);
}

.team .team__desc .team__contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.team .team__desc .team__contacts p {
  font-weight: 600;
  margin: 0;
}

.team .team__desc .team__contacts img {
  height: 20px;
  width: 20px;
}

.team .team__desc .team__experience {
  padding: 10px 0;
}

.team .team__desc .team__experience .company {
  font-weight: 600;
}

/*
  ========================================
  SUMMARY
  ========================================
*/

.summary {
  background-image: url("../img/summury/summary-bg.svg");
  background-size: cover;
}

.summary .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary h3 {
  text-align: center;
  font-weight: 600;
  margin: 5% 0 3%;
}

.summary .summary__content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.summary .summary__content span {
  color: #D4D838;
  font-weight: 600;
}

.summary img {
  width: 100px;
  height: 100px;
  background: #2DB6BB;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1470px) {
  .task {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .task.gradient img {
    position: sticky;
    left: auto;
    bottom: auto;
    -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}

@media screen and (max-width: 1400px) {
  .proposition .proposition__table .content .task.gradient div p {
    font-size: 10px;
    padding: 7px;
  }

  .proposition .proposition__table .content .task.gradient div img {
    -webkit-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
            transform: translateX(-20%);
    width: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .proposition.grey-right {
    background: transparent;
  }

  .proposition.grey-right .col-xl-6.col-lg-12.grey-bg {
    background: transparent;
    min-height: auto;
  }

  .proposition.grey-right .container,
  .proposition.grey-right .row {
    padding: 0;
    margin: 0;
  }

  .proposition.grey-right .proposition__table .content .task.gradient div p {
    font-size: 12px;
    padding: 7px;
  }

  .proposition.grey-right .proposition__table .content .task.gradient div img {
    -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
            transform: translateX(-25%);
    width: 25px;
  }

  .validation.grey-left {
    background: #021526;
    color: #EAE6E5;
  }

  .validation.grey-left img.validation__img {
    display: none;
  }

  .validation.grey-left img.mobile {
    display: block;
  }

  .validation.grey-left .col-xl-5.col-lg-12.grey-bg {
    overflow: visible;
  }

  .validation.grey-left .proposition__bg {
    bottom: auto;
    left: auto;
  }

  .validation.grey-left .validation__sections p {
    color: #EAE6E5;
  }

  .validation.grey-left .container {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .validation.grey-left .row {
    margin-right: 0;
    margin-left: 0;
  }

  .validation.grey-left .validation__partners {
    width: 100%;
  }

  .validation.grey-left .col-xl-5.col-lg-12.grey-bg {
    min-height: auto;
  }
}

@media screen and (max-width: 1200px) and (max-width: 950px) {
  .validation.grey-left .validation__partners img {
    height: 50px;
  }
}

@media screen and (max-width: 1125px) {
  .sections-slogans {
    width: 70%;
    margin: 0;
  }

  .circles__block-1,
  .circles__block-2,
  .circles__block-3,
  .circles__block-4,
  .circles__block-5,
  .circles__block-6 {
    font-size: calc(14px + 0.5729166667vw);
  }
}

@media screen and (max-width: 1000px) {
  .mobile .button {
    display: block;
  }

  .menu ul {
    display: none;
  }

  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
  }

  table td {
    display: block;
    text-align: left;
    font-size: 13px;
    border-right: 1px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 3px;
  }

  .metrics {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .metrics .study__text {
    width: auto;
    margin-right: 10px;
  }
}

@media screen and (max-width: 900px) {
  .hero__wrap img {
    height: calc(24px + 10.4166666667vw);
  }

  .hero__wrap .logo {
    height: calc(34px + 15.625vw);
    margin-left: calc(15px + 1.8229166667vw);
  }

  .hero__text {
    font-size: calc(15px + 1.9791666667vw);
  }

  .circles__block-1,
  .circles__block-2,
  .circles__block-3,
  .circles__block-4,
  .circles__block-5,
  .circles__block-6 {
    font-size: calc(10px + 0.78125vw);
  }

  .circles__block-1 .text p:last-child,
  .circles__block-2 .text p:last-child,
  .circles__block-3 .text p:last-child,
  .circles__block-4 .text p:last-child,
  .circles__block-5 .text p:last-child,
  .circles__block-6 .text p:last-child {
    font-size: calc(7px + 0.5729166667vw);
  }
}

@media screen and (max-width: 880px) {
  .scenario__title p {
    height: 75px;
  }
}

@media screen and (max-width: 865px) {
  .what .right {
    padding-left: 0;
    padding-right: 0;
  }

  .what .what__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .what .what__text img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .what .what__icons .circle {
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
    font-size: 15px;
  }

  .what .what__icons img {
    left: 12px;
  }
}

@media screen and (max-width: 850px) {
  .sections-titles {
    font-size: calc(18px + 0.2604166667vw);
  }

  .problems__bg {
    max-height: 40vh;
  }

  .sections-slogans {
    font-size: calc(15px + 0.5208333333vw);
  }

  .circle__1,
  .circle__2,
  .circle__3,
  .circle__4,
  .circle__5,
  .circle__6 {
    font-size: 25px;
    min-height: 80px;
    min-width: 80px;
  }

  .circle__3 {
    min-height: 70px;
    min-width: 70px;
  }

  .circle__4 {
    min-height: 60px;
    min-width: 60px;
  }

  .circle__5,
  .circle__6 {
    min-height: 55px;
    min-width: 55px;
  }

  .value .arrow {
    top: 85px;
  }
}

@media screen and (max-width: 785px) {
  .proposition.grey-right .proposition__table .content .task.gradient div p {
    font-size: 10px;
  }

  .proposition.grey-right .proposition__table .content .task.gradient div img {
    -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
            transform: translateX(-25%);
    width: 20px;
  }
}

@media screen and (max-width: 768px) {
  .study .table-wrap {
    margin-top: 0;
  }

  .study.grey-right {
    background: transparent;
  }

  .study .sections-slogans {
    padding-bottom: 0;
  }

  .team {
    background: #EAE6E5;
  }

  .team .team__portrait {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-top: 50px;
  }

  .team .team__desc .team__contacts {
    margin-top: 20px;
  }
}

@media screen and (max-width: 715px) {
  .value .arrow {
    font-size: 12px;
  }

  .value .arrow .arrow__line span:first-child {
    margin-left: 50px;
  }

  .value .arrow.flip .arrow__line span:first-child {
    margin-left: 0;
  }

  .scenario__params {
    font-size: calc(8px + 0.4166666667vw);
    padding: 7px 10px;
  }

  .scenario__params .background {
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px !important;
  }

  .scenario__params .background img {
    width: 15px;
  }

  .scenario__params .background.gradient img {
    min-width: 17px;
    padding: 3px;
  }

  .scenario__params .mark {
    margin-right: 5px !important;
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
    font-size: 22px;
  }

  .scenario__title {
    padding: 10px 10px 0;
  }

  .scenario__title p {
    font-size: calc(8px + 0.5208333333vw);
    height: 46px;
  }

  .scenario__title p:first-child {
    font-size: calc(10px + 0.625vw);
  }
}

@media screen and (max-width: 590px) {
  .sections-slogans {
    margin-top: 50px;
    font-size: calc(10px + 0.5208333333vw);
  }

  .circle__1,
  .circle__2,
  .circle__3,
  .circle__4,
  .circle__5,
  .circle__6 {
    font-size: 15px;
  }

  .circle__3 {
    min-height: 45px;
    min-width: 45px;
  }

  .circle__4 {
    min-height: 40px;
    min-width: 40px;
  }

  .circle__5 {
    margin-right: 15px;
  }

  .circle__5,
  .circle__6 {
    min-height: 35px;
    min-width: 35px;
  }
}

@media screen and (max-width: 585px) {
  .proposition .proposition__table {
    width: 95%;
  }

  .proposition .proposition__table .content .parametrs {
    width: 60%;
  }

  .proposition .proposition__table .content .parametrs .parametrs__title {
    width: 100%;
    margin-bottom: 5px;
  }

  .proposition .proposition__table .content .parametrs .line {
    display: none;
  }

  .proposition .proposition__table .content .parametrs li {
    line-height: 10px;
    margin-bottom: 20px;
  }

  .proposition .proposition__table .content .parametrs li .progressbar {
    height: 10px;
  }

  .proposition .proposition__table .content .parametrs li .units {
    font-weight: 600;
    font-size: 10px;
  }

  .proposition .proposition__table .parametrs__indicators {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    width: 100%;
  }

  .proposition .proposition__table .content .task.gradient div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .proposition .proposition__table .content .task.gradient div:first-child {
    height: auto;
  }

  .proposition .proposition__table .content .task.gradient div:nth-child(2) {
    height: auto;
  }

  .proposition .proposition__table .content .task.gradient div img {
    left: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .proposition .proposition__table .content .task.gradient div img .middle {
    left: auto;
  }

  .proposition .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (max-width: 556px) {
  .proposition .proposition__table .content .task > p {
    height: 45px;
  }

  .proposition .proposition__table .content .parametrs > p {
    height: 35px;
  }
}

@media screen and (max-width: 495px) {
  .scenario__title {
    padding: 5px 5px 0;
  }

  .scenario__title p {
    height: 65px;
  }

  .value .arrow {
    font-size: 10px;
  }
}

@media screen and (max-width: 440px) {
  .proposition.grey-right .proposition__table .content .task.gradient div p {
    font-size: 7px;
  }
}

@media screen and (max-width: 420px) {
  .scenario__params {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .scenario__params .desc {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .circles__block-1 {
    left: -10px;
    top: 7px;
  }

  .circles__block-2 {
    left: 0;
  }

  .circles__block-3 {
    left: -20px;
  }

  .circles__block-4 {
    left: -40px;
  }

  .circles__block-5 {
    left: -10px;
  }

  .circles__block-6 {
    left: 25px;
  }

  .line-top {
    top: 80px;
    left: -20px;
    -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
            transform: rotate(50deg);
  }

  .line-middle {
    left: -40px;
  }

  .line-bottom {
    left: -35px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .proposition .proposition__table .content .parametrs li .units {
    font-weight: 600;
    font-size: 8px;
  }
}

@media screen and (max-width: 370px) {
  .what .sections-titles {
    font-size: calc(12px + 0.6770833333vw);
  }
}

@media screen and (max-width: 100px) {
  .problems__bg {
    max-height: 30vh;
  }
}